extends ./layouts/index

block contenido
    h1(class="mt-5 text-center") #{pagina}
    main.container.mt-5
        include ./layouts/bloque_viajes

        
        
        
        
        
        
        //- p= JSON.stringify(viajes) para debuggear que se este pasando los datos de la tabla a la vista